* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html, body {
    height: 100%;
}

body {
  background-color: #FFF5F2; 
  color: #4B2E2B; 
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 60px;
    background: #2C1B18;
    position: relative; 
    z-index: 999;
    flex-direction: row;
}

.logo {
  font-family: 'Beau Rivage', serif;
  font-weight: 400;
  color: #ffcc80;
  letter-spacing: 2px;
  font-size: 30px;
  margin-left: 10px;
}

.logo span {
  font-family: "Alegreya", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  color: #8B0000; 
  font-size: 30px;
}

.nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    position: fixed;       
    top: 0;
    left: -250px;          
    width: 250px;
    height: 100%;
    background: #4B2E2B;
    padding: 60px 20px;    
    gap: 20px;
    transition: left 0.3s ease; 
    z-index: 1000;
}

.nav-links.show {
    left: 0; 
}

.nav-links a {
    color: #ffcc80;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
}

/* Кнопка меню */
.menu-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 22px;
  cursor: pointer;
  z-index: 1001;
  transition: all 0.3s ease;
  margin-left: 5px;
  position: fixed;
  left: 18px;
  top: 22px;
}

.menu-toggle span {
  display: block;
  height: 4px;
  width: 100%;
  background: #ffcc80;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.menu-toggle:hover span {
  background: #ae5c5c;
}

/* Перетворення на хрестик */
.menu-toggle.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
  opacity: 0;
}

.menu-toggle.active span:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}


/*  Герой-секція */
.hero {
    text-align: center;
    padding: 80px 20px; 
    background: url('images/banner3.jpg') no-repeat center center/cover;
    height: 35vh; 
    color: #ffcc80;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
}

.hero h1 {
    font-size: 2.8em;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.hero p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.hero2 {
    text-align: center;
    padding: 80px 20px; 
    background: url('images/banner2.jpg') no-repeat center center/cover;
    height: 35vh; 
    color: #ffcc80;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
    
}

.hero2 h1 {
    font-size: 2.8em;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.hero2 p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.hero3 {
    text-align: center;
    padding: 80px 20px; 
    background: url('images/banner1.jpg') no-repeat center center/cover;
    height: 35vh; 
    color: #ffcc80;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
}

.hero3 h1 {
    font-size: 2.8em;
    margin-bottom: 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.hero3 p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Кнопки */
.btn {
    display: inline-block;
    background: #ffcc80;
    color: #3e2723;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.btn:hover {
    background: #ffe0b2;
}

/*  Меню */
.menu-section {
    text-align: center;
    padding: 80px 20px;
}

.menu-section h2 {
    margin-bottom: 40px;
    font-size: 2em;
    color: #4B2E2B;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0 40px;
}

@media (max-width: 900px) {
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .menu-grid {
        grid-template-columns: 1fr; 
    }
}


.menu-item {
    background: #FFF5F2;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s;
}

.menu-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.menu-item h3 {
    margin: 15px 0 5px;
    color: #4B2E2B;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.menu-item p {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.menu-item span {
    display: block;
    color: #ffcc80;
    margin-bottom: 15px;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Контакти */
.contact-section {
    text-align: center;
    background: #ae5c5c;
    padding: 80px 20px;
    margin-top: 5px;
}

.contact-text {
    color: #ffcc80;
    height: 50px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.contact-form {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-form input,
.contact-form textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.contact-form button {
    background: #3e2723;
    color: #ffcc80;
    padding: 12px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.contact-form button:hover {
    background: #5d4037;
}

/* Футер */
footer {
    background: #3e2723;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

.dish-btn{
    margin-left: 80px;
    display: inline-block;
    background: #ffcc80;
    color: #3e2723;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.dish h1 {
    font-size: 38px;
    color: #4B2E2B;
    text-align: center;
}

.dish-detail {
    display: flex;
    align-items: flex-start; 
    gap: 30px;               
    margin-top: 20px;
}

.dish-detail img {
    width: 35%;
    height: 500px;
    object-fit: cover;
    margin-left: 80px;
    border-radius: 25px;
}

.dish-info {
    max-width: 500px; 
    font-size: 25px;
}

.dish-info h1 {
    margin-top: 0;
}

.dish-info ul {
    list-style: disc;
    padding-left: 20px;
    margin-left: 25px;
}

@media (max-width: 768px) {
    .dish-detail {
        flex-direction: column;
        align-items: center;
    }

    .dish-info {
        max-width: 100%;
    }
}

.info {
    display: flex;         
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 50px;              
    padding: 20px;
}

.about-text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    text-align: left;       
    margin-top: 50px;
    font-size: 25px;
    flex: 1;    
    padding-right: 17px;   
    border-right: 2px solid #3e2723; 
    margin-left: 25px;           
}

.info-cont {
    flex: 0 0 350px;      
    font-size: 20px;
    margin-right: 25px;
    margin-top: 25px;
    padding-left: 12px;
}


main, .menu-section, .contact-section, .dish-detail {
    flex: 1;
}

a {
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

a:hover {
  color: #ae5c5c; 
}

a:focus,
a:active {
  outline: none;
  box-shadow: none;
}

.hidden-item {
    display: none;
}

.show-more-line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 30px;
}

.show-more-line hr {
    flex: 1;
    border: none;
    border-top: 1px solid #ccc;
}

#showMoreBtn {
    background-color: #4B2E2B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

#showMoreBtn:hover {
    background-color: #ae5c5c;
}

.peniwise img {
    width: 25%;        
    height: auto;       
    display: block;     
    border-radius: 15px 15px 15px 15px; 
    align-items: center;
    margin-left: 38%;
    margin-top: 5px;
}

.navigation {
    font-size: 20px;
    color: #ffcc80;
    cursor: pointer;
    user-select: none; 
    top: 20px;
    left: 85%;
}

.services {
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
}

.services-1 {
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 40px;
    font-size: 30px;
}

.services-1-text {
    margin-left: 40px;
    margin-top: 7px;
    margin-right: 40px;
    font-size: 25px;
}

.services-1-text-ul {
    list-style-type: disc;
    margin-left: 70px;
    margin-top: 7px;
    margin-right: 40px;
    font-size: 25px;
}

.img-room {
    display: flex;            
    gap: 35px;               
    justify-content: center;  
    flex-wrap: wrap;   
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-room img {
    width: 210px;   
    max-width: 300px;      
    height: 210px;             
    border-radius: 20px; 
    object-fit: cover;  
}

.services-2 {
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    font-size: 35px;
    text-align: center;
}

.maps {
    width: 100vw;        
    height: 33vh;
    padding: 15px 0;
}

.loc {
    font-size: 45px;
    text-align: center;
    margin-top: 25px;
}

.loc-text {
    font-size: 22px;
    margin-left: 50px;
    margin-bottom: 15px;
    margin-top: 17px;
    margin-right: 50px;
}

.loc-text-ab {
    margin-top: 15px;
    display: block;
}

.dish-order {
    display: flex;
    justify-content: center;
    align-items: center;
}

.account-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffcc80;
    color: #3e2723;
    padding: 12px 35px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s, transform 0.2s;
    font-family: "Montserrat", sans-serif;
    gap: 10px;
    border: none;
    cursor: pointer;
    width: 200px; 
    margin: 20px auto; 
    margin-top: auto;
}

.account-btn:hover {
    background-color: #ae5c5c;
    transform: scale(1.03);
}

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.account-text {
    font-size: 16px;
    color: #4B2E2B;
    font-weight: 500;
    text-align: center;
}

.navbar-account {
    padding: 350px 0;
}