<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ dish.name }} | Velvet Bite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Beau+Rivage&family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
</head>
</head>

<body>
    <!-- Навігація -->
    <header>
        <nav class="navbar">
            <div class="menu-toggle" id="menu-toggle">
                &#9776;
            </div>
            
            <h1 class="logo"><span>Velvet</span> Bite</h1>

            <ul class="nav-links" id="nav-links">
                <li><a href="/#home">Головна</a></li>
                <li><a href="/#menu">Меню</a></li>
                <li><a href="/#contact">Контакти</a></li>
                <li><a href="/about">Про нас</a></li>
                <li><a href="/service">Наші послуги</a></li>
                <li><a href="/locate">Наші локації</a></li>
                <li><a href="/work">Приєднуйтеся до нас</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="werh">
            <a href="/#menu" class="werh-btn">← Назад до меню</a>
            <h1 class="dish">{{ dish.name }}</h1>
        </section>

        <section class="dish-detail">
            <img src="{{ url_for('static', filename=dish.image) }}" alt="{{ dish.name }}">
            <div class="dish-info">
                
                <p><strong>Опис:</strong> {{ dish.description }}</p>
                <p><strong>Ціна:</strong> {{ dish.price }}</p>
                <p><strong>Інгредієнти:</strong></p>
                <ul>
                    {% for ingredient in dish.ingredients %}
                    <li>{{ ingredient }}</li>
                    {% endfor %}
                </ul>
                <p><strong>Калорійність:</strong> {{ dish.calories }} ккал</p>
            </div>
        </section>

    </main>

     <!-- Футер -->
    <footer>
        <p>© 2025 Velvet Bite. Всі права захищені.</p>
    </footer>

    <script src="static/script.js"></script>
</body>
</html>
