<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Velvet Bite — Меню</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Beau+Rivage&family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Навігація -->
    <header>
        <nav class="navbar">
            <div class="left-group">
                <div class="menu-toggle" id="menu-toggle">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                
                <h1 class="logo"><span>Velvet</span> Bite</h1>
            </div>

            <a href="{{ url_for('order') }}" class="cart-btn" title="Замовлення">Зробити замовлення</a>
            <h2 class="navigation">Головна</h2>

            <div class="navbar-menu">
                <ul class="nav-links" id="nav-links">
                    <li><a href="#home">Головна</a></li>
                    <li><a href="#menu">Меню</a></li>
                    <li><a href="/favourite">Улюблені страви</a></li>
                    <li><a href="#contact">Зв'язок</a></li>
                    <li><a href="/about">Про нас</a></li>
                    <li><a href="/service">Наші послуги</a></li>
                    <li><a href="/locate">Наші локації</a></li>
                    <li><a href="/work">Приєднуйтеся до нас</a></li>
                    <li class="navbar-account">
                        {% if session.get('user_id') %}
                        <a href="{{ url_for('account') }}" class="account-btn">
                            <img src="/static/images/avatar.jpg" alt="Аватар користувача" class="avatar">
                            <span class="account-text">Мій профіль</span>
                        </a>
                        {% else %}
                        <a href="{{ url_for('signUp') }}" class="account-btn">
                            <img src="/static/images/avatar.jpg" alt="Аватар користувача" class="avatar">
                            <span class="account-text">Мій профіль</span>
                        </a>
                        {% endif %}
                    </li>
                </ul>

            </div>
            
        </nav>
    </header>

    <main>
        <section id="home" class="hero">
            <h1>Ласкаво просимо до Velvet Bite</h1>
            <p>Насолоджуйся ароматною кавою та свіжою випічкою щодня!</p>
            <a href="#menu" class="btn">Переглянути меню</a>
        </section>

        <!--  Секція меню -->
        <section id="menu" class="menu-section">
            <h2>Наше меню</h2>
            <div class="menu-grid">
                {% for dish in menu_items %}
                <div class="menu-item {% if loop.index > 6 %}hidden-item{% endif %}">
                    <a href="{{ url_for('dish', dish_id=dish.id) }}">
                        <img src="{{ url_for('static', filename=dish.image) }}" alt="{{ dish.name }}">
                        <h3>{{ dish.name }}</h3>
                    </a>
                    <p>{{ dish.description }}</p>
                    <span>{{ dish.price|int }} грн</span>
                </div>
                {% endfor %}
            </div>

            <div class="show-more-line">
                <hr>
                <button id="showMoreBtn">Переглянути більше позицій</button>
                <hr>
            </div>
        </section>


        <section class="hero2">
            <h1>Святкуйте свої День народження у нас!</h1>
            <p>Замовляйте красиво оформлену залу та аніматорів</p>
            <a href="/service" class="btn">Переглянути більше позицій</a>
        </section>

                <!-- Контакти -->
                <section id="contact" class="contact-section">
                        <h2 class="contact-text">Зв'яжіться з нами</h2>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                <div class="flash-messages">
                                    {% for category, msg in messages %}
                                        <div class="flash-{{ category }}">{{ msg }}</div>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        {% endwith %}
                        <form class="contact-form" method="post" action="{{ url_for('add_feedback_route') }}">
                                <input type="text" name="name" placeholder="Ваше ім’я" required>
                                <input type="email" name="email" placeholder="Ваш email" required>
                                <textarea name="text" rows="4" placeholder="Ваше повідомлення"></textarea>
                                <button type="submit">Надіслати</button>
                        </form>
                </section>
    </main>

    <!-- Футер -->
    <footer>
        <p>© 2025 Velvet Bite. Всі права захищені.</p>
    </footer>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
