<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Наші локації — Velvet Bite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Beau+Rivage&family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
</head>
</head>
<body>
    <header>
         <nav class="navbar">
            <div class="menu-toggle" id="menu-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>

            <h1 class="logo"><span>Velvet</span> Bite</h1>

            <h2 class="navigation">Наші локації</h2>

            <ul class="nav-links" id="nav-links">
                <li><a href="/#home">Головна</a></li>
                <li><a href="/#menu">Меню</a></li>
                <li><a href="/#contact">Зв'язок</a></li>
                <li><a href="/about">Про нас</a></li>
                <li><a href="/service">Наші послуги</a></li>
                <li><a href="/locate">Наші локації</a></li>
                <li><a href="/work">Приєднуйтеся до нас</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h3 class="loc">Знаходь заклад у зручному для тебе місці!</h3>
        <p class="loc-text">Відкрийте для себе всі наші затишні заклади Velvet Bite у вашому місті! Кожна локація створена для того, щоб ви могли насолоджуватися ароматною кавою, свіжою випічкою та теплим затишком у будь-який час.
            <span class="loc-text-ab">Кожна точка Velvet Bite обладнана сучасними зонами для відпочинку та роботи, тому ви можете комфортно проводити час як самостійно, так і в компанії друзів чи родини. У наших закладах завжди панує затишна атмосфера та приємний сервіс, щоб кожен візит залишав тільки позитивні емоції.
            </span>
            <span class="loc-text-ab">Плануєте святкування або хочете замовити торт з власним дизайном? Наші локації готові прийняти вас та вашу компанію, забезпечивши яскраві емоції та комфортну атмосферу.
            </span>
            <span class="loc-text-ab">Завітайте до Velvet Bite та оберіть зручну локацію для себе, щоб зробити кожен момент особливим!</span></p>
        
        <iframe class="maps" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20195.792944987694!2d25.29755609647715!3d50.74824186007485!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4725991b7367c2ab%3A0x401eca1dc1fd1e64!2sPUR-PUR!5e0!3m2!1sen!2sua!4v1761228193386!5m2!1sen!2sua" 
            width="800" 
            height="600" 
            style="border:0;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </main>

    <footer>
        <p>© 2025 Velvet Bite. Всі права захищені.</p>
    </footer>

    <script src="static/script.js"></script>
</body>
</html>

